<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href=”#” id="logo">Связист</a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=”#”>Home</a></li>
                <li><a href=”#”>Help</a></li>
                <li><a href=”#”>About</a></li>
            </ul>
        </nav>
    </div>
</header>