@page
@model _1.Pages.SignModel
@{
    ViewData["Title"] = "Заказ";
}
<h1>Регистрация для заказа</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form action="" method="POST" class="form-signin" role="form">
            <input type="text" name="Name" class="form-control" placeholder="Name" required autofocus>
            <input type="order" name="Order" class="form-control" placeholder="Order" required autofocus>
            <input type="phone name="Phone" class="form-control" placeholder="Phone" required autofocus>
            <input type="streetr" name="Street" class="form-control" placeholder="Street" required autofocus>
            <input type="house" name="House" class="form-control" placeholder="House" required autofocus>
            <input type="flat" name="Flat" class="form-control" placeholder="Flat" required autofocus>
            <input type="entrance" name="Entrance" class="form-control" placeholder="Entrance" required autofocus>
            <input type="intercom" name="Intercom" class="form-control" placeholder="Intercom" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">
                Создать пользователя
            </button>
        </form>
    </div>
</div>
